body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
	overflow: hidden;
    
  }

  html, body {
    overflow-x: hidden;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}
  .text-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 5rem;
    color: rgba(225,225,225, .01);
    background-image: url("sky.jpg");
    background-repeat: repeat;
    background-clip:text;
    animation: animate 4s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
    /*@keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }*/

  .text-container{
    display: inline;
 
  }
 .socialprofiles{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1; 
    flex-shrink: 1;
   
 }

#reddit :hover{
    transform: scale(1.5)
}
#linkedin :hover{
    transform: scale(1.5)
}
#mail :hover{
    transform: scale(1.5)
}
#github :hover{
    transform: scale(1.5)
}
.heading{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    flex-shrink: 1;
}
.aboutme{
    height: 1000px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    flex-grow: 1; 
    flex-shrink: 1;



}
.para{
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  text-align: justify;
  font-size: 1.3rem;
  flex-grow: 1; 
  flex-shrink: 1;
}


#photo{
  text-align: center;
}
  .text-container img{
   border-radius: 50%;
  }

  .heading2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    flex-shrink: 1;
  }

 .projectdiv img{
width: 500px;
height: 300px;
border: solid white;
background-size: contain;
margin-top: 0px;

 }
 .project{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
 }
 .description span{
  color: white;
  margin-top: 50px;
 }
 .description{
  display: flex;
  justify-content: center;
  align-items: center;
 }



.heading3{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#bootstrap{
  margin-bottom: 50px;
}

li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
span {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
span:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
span:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
.para {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease-out;
}

.paraVisible {
  opacity: 1;
  transform: translateY(0);
}

.skill{
  display: flex;
  justify-content: center;
  align-items: center;
}

.project a{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.project a:hover {
  top: -20px;
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
	   flex-shrink: 1;
  
  }}

  @media (width <= 870px) {
    .para{
      font-size: 1rem;
	     flex-shrink: 1;
    }
  }

  @media (width <= 680px) {
    .para{
      font-size: 0.5rem;
	     flex-shrink: 1;
    }
  }

  @media (width <= 465px) {
    .heading{
      font-size: 2rem;
	     flex-shrink: 1;
    }
  }
  @media (width <= 430px){
    .skillbox {
      display: inline;
	     flex-shrink: 1;
    }
  }

  @media (width <= 430px){
    .heading2{
      margin-top:0px;
	     flex-shrink: 1;
    }
  }

  
  @media (width <= 430px){
    .socialprofiles{
      display: inline;
	     flex-shrink: 1;
    }
  }
  @media (width <= 430px){
    .heading{
      font-size: 1.5rem;
	     flex-shrink: 1;
    }
  }

  @media (width <= 540px){
    .projectdiv img{
      width: 300px;
	     flex-shrink: 1;
    }
  }

  @media (width <= 480px){
    .heading2{
      margin: 0rem 0;
	     flex-shrink: 1;
    }
  }
  @media (width <= 540px){
    .text-container h1{
      font-size: 3rem;
	     flex-shrink: 1;
    }
  }
  @media (width <= 390px){
    .text-container h1{
      font-size: 2.7rem;
	     flex-shrink: 1;
    }
  }
  @media (width <= 480px){
    .heading{
      margin: 0rem 0;
	     flex-shrink: 1;
    }
  }
  @media (min-width: 810px)and (max-width: 1150px){
    .para{
      font-size: 1.1rem;
	     flex-shrink: 1;
    }
  }
  @media (min-width: 811px)and (max-width: 989px){
    .para{
      font-size: 0.9rem;
	     flex-shrink: 1;
    }
  }

  @media (min-width: 740px)and (max-width: 810px){
    .para{
      font-size: 0.7rem;
	     flex-shrink: 1;
    }
  }

  @media (min-width: 570px)and (max-width: 739px){
    .para{
      font-size: 0.5rem;
	     flex-shrink: 1;
    }
  }

  @media (min-width: 350px)and (max-width: 540px){
    .para{
      font-size: 0.4rem;
	     flex-shrink: 1;
    }
  }
@media (min-width: 450px) and (max-width: 540px){
    .para{
      font-size: 0.5rem;
	     flex-shrink: 1;
    }
  }

@media (width <= 360px){
    .para{
      font-size: 0.3rem;
	     flex-shrink: 1;
    }
  }
@media (width <= 500px) {
    .text-container h1{
      animation-play-state: paused;
	    flex-shrink: 1;
    }
  }

